body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background video {
    /* Skaliere das Video, um den gesamten Bildschirm zu füllen, ohne es zu verzerren */
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Stellt sicher, dass das Video den gesamten Bereich abdeckt, ohne verzerrt zu werden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.name {
    font-size: 3em;
    margin-bottom: 20px;
}

.links img {
    width: 50px;
    margin: 0 10px;
}

.music-control {
    margin-top: 20px;
}